-r requirements.txt
black==23.7.0
certifi==2023.7.22
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.7
distlib==0.3.7
filelock==3.12.3
identify==2.5.27
idna==3.4
iniconfig==2.0.0
isort==5.12.0
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
pre-commit==3.3.3
pytest==7.4.0
pytest-randomly==3.15.0
pytest-responses==0.5.1
PyYAML==6.0.1
requests==2.31.0
responses==0.23.3
ruff==0.0.283
types-beautifulsoup4==4.12.0.6
types-html5lib==1.1.11.15
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.4
